* {
    box-sizing: border-box;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;*/
}
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: ##131313;
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 45em;
    margin: auto;
    padding: 0 2%;
}

.discordicon {
    height: 150px;
    width: 150px;
    border-radius: 333px;
    background-color: #409044;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #f7d854, 0px 0px 0px 7px #e6c63b inset, 0px 0px 0px 11px #a27f2e inset, 0px 0px 0px 31px #ff2222 inset, 0px 0px 0px 54px #ffffff inset, 5px 5px 0px -3px black;
}

.discordicon:hover {
    box-shadow: 0px 0px 0px 1px #f7d854, 0px 0px 0px 7px #e6c63b inset, 0px 0px 0px 11px #a27f2e inset, 0px 0px 0px 31px #ff2222 inset, 0px 0px 0px 54px #ffffff inset, 5px 5px 0px 1px black;
}

.discordlink {
    border-radius: 333px;
}

.dotaicon {
  height: 4em;
  width: 4em;
  border-radius: 0.5em;
  background-color: #881414;
  transition: 0.3s;
  box-shadow: 0px 0px 3px 0px #4b0b0b inset;
  color: #fff4e7;
  line-height: 4em;
  text-align: center;
  font-size: 2em;
}
